h1 {
	font-family: 'Monofett', cursive;
	font-size: 90px;
	text-align: center;
	color: black;
  margin-top: 30px;
  margin-bottom: 1px;
}

#quote {
    font-family: Courier;
    font-size: 13px;
    color: black;
    padding: 80px;
    text-align: center;
}

img {
	/*width:200px;
	height:200px;*/
  border-radius: 15px;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 15px;
    border-color: white;
}

.imgWrap {
  position: relative;
  height: 200px;
  width: 200px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  color: #ffffff;
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
  font-size: 60px;
  visibility: hidden;
  opacity: 0;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

