h1 {
	font-family: 'Monofett', cursive;
	font-size: 80px;
	text-align: center;
	color: black;
  margin-top: 30px;
  margin-bottom: 1px;
}

@media only screen and (max-width: 700px) {
   h1 { font-size: 3em; }
   p { font-size: 0.8em; }
}

#quotecontainer {
  width: 100%;
  text-align: center;
}

#quote {
    font-family: Courier;
    font-size: 13px;
    color: black;
    padding: 50px;
    max-width: 698px;
    text-align: center;
    display: inline-block;
}

img {
	width:200px;
	height:200px;
  border-radius: 15px;
}

.container {
  width: 100%;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:center;
}

.col-md-1 {
  width:230px;
  height:230px;
}

.imgWrap {
  position: relative;
  height: 200px;
  width: 200px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  color: #ffffff;
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
  font-size: 60px;
  visibility: hidden;
  opacity: 0;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
