.navbar a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.navbar li {
  display: inline;
}

.jumbotron {
  background-image:url("jumbo2.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 11em;
  color: #fff;
  font-weight: bold;
}

@media only screen and (max-width: 615px) {
   .jumbotron h1 { font-size: 9em;}
   .jumbotron { height: 300px;} 
   .jumbotron .container { position: relative; top:50px;}
}

@media only screen and (max-width: 505px) {
   .jumbotron h1 { font-size: 7em;}
   .jumbotron { height: 300px;}
   .jumbotron .container { position: relative; top:50px;}
}

@media only screen and (max-width: 395px) {
   .jumbotron h1 { font-size: 5em;}
   .jumbotron { height: 300px;}
   .jumbotron .container { position: relative; top:50px;}
}

#quote p {
  font-family: Courier;
  font-size: 12px;
  color: black;
  padding: 30px 50px 50px 50px;
  text-align: center;
}

img {
  width: 100%;
}

.caption h3 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  text-align: center;
  color: black;
  margin-bottom: 0px;
}

.caption p {
  font-family: Courier;
  font-size: 12px;
  text-align: center;
  color: black;
}

.col-sm-4 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.albums {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.learn-more {
  background-color: #f7f7f7;
  padding-top: 20px;
}

#photosby {
  font-family: Courier;
  font-size: 13px;
  color: black;
  text-align: center;
}