.navbar {
  padding-top: 0px;
}

.navbar a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.navbar li {
  display: inline;
}

.jumbotron {
  height: 250px;
  margin: 0px;
  background-color: white;
}

.jumbotron .container {
  position: relative;
  top: 20%;
}

h1 {
	font-family: 'Reenie Beanie', cursive;
	font-size: 90px;
	text-align: center;
	color: black;
	margin-bottom: 0px;
}

h3 {
	font-family: Courier;
	font-size: 13px;
	text-align: center;
	color: black;
	margin-top: 0px;
}

h2 {
	font-family: 'Reenie Beanie', cursive;
	font-size: 40px;
	text-align: center;
	color: black;
	margin-bottom: 0px;
}

p {
	font-family: Courier;
	font-size: 13px;
	text-align: center;
	color: black;
	margin-top: 0px;
}

.row > .col-sm-6 {
  margin: 20px 0;
}

.row > .col-sm-3 {
  margin: 20px 0;
}

.row > .col-sm-12 {
  margin: 2px 0;
}

iframe {
	border: none;
	width: 100%;
	height: 400px;
}

.img-circle {
	width: 30%;
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#buttoncontainer {
	text-align: center;
	display: block;
	width: 100px;
	margin-left: auto;
    margin-right: auto;
}

span {
	font-family: Courier;
	font-size: 12px;
	text-align: center;
	color: black;
	margin: none;
}

a:link {
    text-decoration: none;
}

.learn-more {
	background-color: #f7f7f7;
  	padding-top: 20px;
  	border-top: 1px solid #dbdbdb;
}

#photosby {
	font-family: Courier;
	font-size: 13px;
	color: black;
	text-align: center;
}



