h1 {
	font-family: 'Reenie Beanie', cursive;
	font-size: 90px;
	text-align: center;
	color: black;
	margin-top: 30px;
	margin-bottom: 1px;
}

p {
	font-family: Courier;
	font-size: 13px;
	text-align: center;
	color: black;
	margin-top: 1px;
}

img {
  width: 40%;
  height: 40%;
  padding-top: 50px;
}

.container {
  width: 100%;
}

.row-centered {
    text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:center;
}

.col-md-1 {
  width:80%;
  height:80%;
}


