<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="stylesheet_album.css" />
    <title>Normandia | Photogallery</title>
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="new.html">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Album <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="places_utrecht.html">Utrecht</a></li>
                            <li><a href="places_normandia.html">Normandia</a></li>
                            <li><a href="places_utrecht.html">New York</a></li>
                            <li><a href="places_utrecht.html">Giappone</a></li>
                            <li><a href="places_utrecht.html">Rotterdam</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">About me</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
        <h1>normandia</h1>
        <h3>24-27 | 09 | 2015</h3>
        <div id="buttoncontainer">
            <a href="#map"><button type="button" class="btn btn-default btn-lg btn-block btn-xs" style="border-color: white; transition-property: background-color; transition-duration: 300ms;"><span>map & people</span></button></a>
        </div>
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia1_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/../Places/Normandia/Normandia1_V.jpg"/>
                </a>
                <p>Rouen | Abbatiale St. Ouen</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia2_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia2_V.jpg"/>
                </a>
                <p>Rouen | Cathedrale Notre Dame</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia3_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia3_V.jpg"/>
                </a>
                <p>Rouen | Cathedrale Notre Dame</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia4_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia4_V.jpg"/>
                </a>
                <p>Rouen | Cathedrale Notre Dame</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia5.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia5.jpg"/>
                </a>
                <p>F&#233;camp | Pebble beach</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia6.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia6.jpg"/>
                </a>
                <p>F&#233;camp | Pebble beach</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia7.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia7.jpg"/>
                </a>
                <p>F&#233;camp | Cap Fagnet</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia8.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia8.jpg"/>
                </a>
                <p>F&#233;camp | Pebble beach</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia9.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia9.jpg"/>
                </a>
                <p>F&#233;camp | Cap Fagnet</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia10.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia10.jpg"/>
                </a>
                <p>F&#233;camp | Cap Fagnet</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia11_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia11_V.jpg"/>
                </a>
                <p>Le Havre | Art Hotel</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia12_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia12_V.jpg"/>
                </a>
                <p>&#201;tretat | Falaise d'Amont</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia13_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia13_V.jpg"/>
                </a>
                <p>&#201;tretat</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia14_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia14_V.jpg"/>
                </a>
                <p>&#201;tretat | Falaise d'Aval</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia15.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia15.jpg"/>
                </a>
                <p>&#201;tretat | Falaise d'Amont</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia16.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia16.jpg"/>
                </a>
                <p>&#201;tretat | Falaise d'Amont</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia17.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia17.jpg"/>
                </a>
                <p>&#201;tretat | Falaise d'Amont</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia18.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia18.jpg"/>
                </a>
                <p>&#201;tretat | Falaise d'Amont</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia19.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia19.jpg"/>
                </a>
                <p>&#201;tretat | Beach</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia20.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia20.jpg"/>
                </a>
                <p>&#201;tretat | Falaise d'Aval</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia21.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia21.jpg"/>
                </a>
                <p>&#201;tretat | Falaise d'Aval</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia22.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia22.jpg"/>
                </a>
                <p>&#201;tretat | Falaise d'Aval</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia23.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia23.jpg"/>
                </a>
                <p>&#201;tretat | Falaise d'Aval</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia24.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia24.jpg"/>
                </a>
                <p>&#201;tretat | Falaise d'Aval</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia25.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia25.jpg"/>
                </a>
                <p>Pont de Normandie</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia26.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia26.jpg"/>
                </a>
                <p>Honfleur</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia27.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia27.jpg"/>
                </a>
                <p>Honfleur</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia28.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia28.jpg"/>
                </a>
                <p>Honfleur</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia29.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia29.jpg"/>
                </a>
                <p>Honfleur</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia30.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia30.jpg"/>
                </a>
                <p>Trouville</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia31_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia31_V.jpg"/>
                </a>
                <p>Honfleur</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia32_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia32_V.jpg"/>
                </a>
                <p>Bayeux</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia33_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia33_V.jpg"/>
                </a>
                <p>Longues-sur-Mer</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia34_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia34_V.jpg"/>
                </a>
                <p>Colleville-sur-Mer | Normandy American Cemetery</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia35.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia35.jpg"/>
                </a>
                <p>Camembert</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia36.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia36.jpg"/>
                </a>
                <p>Pont l'&#201;v&#234;que | Les Tonneaux</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia37.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia37.jpg"/>
                </a>
                <p>Pont de Normandie</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia38.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia38.jpg"/>
                </a>
                <p>Pont de Normandie</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia39.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia39.jpg"/>
                </a>
                <p>Arromanches | Mulberry Harbour</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia40.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia40.jpg"/>
                </a>
                <p>Longues-sur-Mer</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia41.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia41.jpg"/>
                </a>
                <p>Longues-sur-Mer</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia42.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia42.jpg"/>
                </a>
                <p>Longues-sur-Mer</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia43.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia43.jpg"/>
                </a>
                <p>Colleville-sur-Mer | Omaha Beach</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia44.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia44.jpg"/>
                </a>
                <p>Colleville-sur-Mer | Omaha Beach</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia45.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia45.jpg"/>
                </a>
                <p>Colleville-sur-Mer | Omaha Beach</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia46.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia46.jpg"/>
                </a>
                <p>Colleville-sur-Mer | Normandy American Cemetery</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia47.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia47.jpg"/>
                </a>
                <p>Pointe du Hoc</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia48.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia48.jpg"/>
                </a>
                <p>Pointe du Hoc</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia49.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia49.jpg"/>
                </a>
                <p>Pointe du Hoc</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia50.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia50.jpg"/>
                </a>
                <p>Pointe du Hoc</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia51.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia51.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia52.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia52.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia53.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia53.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia54.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia54.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia55.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia55.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia56.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia56.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia57_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia57_V.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia58_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia58_V.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia59_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia59_V.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia60_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia60_V.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia61.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia61.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>

            <div class="col-sm-6">
                <a href="../Places/Normandia/Normandia62.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia62.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia63_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia63_V.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia64_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia64_V.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia66_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia66_V.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>

            <div class="col-sm-3">
                <a href="../Places/Normandia/Normandia65_V.jpg" target="_blank">
                    <img class="img-responsive" src="../Places/Normandia/Normandia65_V.jpg"/>
                </a>
                <p>Mont-Saint-Michel</p>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div id="map"></div>
            <div class="col-sm-12">
                <br/><br/>
                <br/><br/>
            </div>

            <div class="col-sm-12">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zJGlSEUFdbUg.k09kg3o9aYHo"></iframe>
            </div>

            <div class="col-sm-3">
                <img class="img-circle" src="../People/matilde.jpg" />
                <p>Matilde</p>
            </div>

            <div class="col-sm-3">
                <img class="img-circle" src="../People/virginia.jpg" />
                <p>Virginia</p>
            </div>

            <div class="col-sm-3">
                <img class="img-circle" src="../People/marco.jpg" />
                <p>Marco</p>
            </div>

            <div class="col-sm-3">
                <img class="img-circle" src="../People/stefano.jpg" />
                <p>Stefano</p>
            </div>
        </div>
    </div>

    <div class="learn-more">
        <div class="container">
            <p id="photosby"><i class="fa fa-camera-retro"></i></br>Photos by<br><b>Virginia Laghi</b></p>
        </div>
    </div>

</body>
</html>